/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

/* Hero Section */
.hero {
    margin-top: 7.5%;
    width: 100%;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* About Section */
.about {
    margin: 20px 0;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
}

.info-cards {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    /* Fondo de tarjeta */
    border-radius: 5px;
    /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
}

.info-card i {
    font-size: 50px;
    margin-right: 10px;
    color: rgb(50, 233, 233);
}

.info-card p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #1a292e;
    margin: 0;
    text-align: left;
}

.image-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 15%;
}

/* Footer Section */
.footer {
    background-color: rgb(15, 18, 37);
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons i {
    font-size: 24px;
    cursor: pointer;
}

.address p {
    margin: 0;
}

.contact-info div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contact-info a {
    color: #ffffff;
    text-decoration: none;
}

.separator {
    margin: 0 10px;
}

.footer-links p {
    margin: 0;
    font-weight: bold;
}

.footer-links .separator {
    margin: 0 10px;
}

.logo-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.logo-section svg {
    margin-right: 2px;
    margin-top: 8px;
    font-size: 8px;
}

.logo-section p {
    margin-bottom: 5px;
}

.small-text {
    font-size: 12px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .header .logo img {
        max-height: 40px;
    }

    .header .nav a {
        margin: 10px 0;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .info-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px 0;
    }

    .info-card i {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .specialties .container {
        flex-direction: column;
        align-items: center;
    }

    .specialty {
        margin-bottom: 20px;
    }

    .footer-content {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .hero img {
        height: auto;
    }

    .specialties .container {
        grid-template-columns: 1fr;
    }

    .specialty img {
        height: 150px;
    }
}